[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.*"
django-taggit = "*"
markdown = "*"
django-stubs = "*"
pillow = "*"

[dev-packages]
ipython = "*"
mypy = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.9"
